.button {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  background-color: #f0f0f0;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #e2e2e2;
}

.button:active {
  background-color: #e0e0e0;
  transform: scale(0.99);
}
